html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 6em 0;

    .navbar{
        #user-avatar{
            width: 20px;
            margin-right: 8px;
            border-radius: 2px;
        }
    }

    #main-wap{
        padding-top: 10px;
    }

    #footer{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.2em;
        z-index: 10;
        text-align: center;
        font-size: 12px;
        font-family: '微软雅黑';
        width: 100%;
        color: #666;

        .container{
            #copyright{
                float: left;
            }

            #links{
                float: right;
                margin: 0;
                list-style-type: none;

                li{
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}

.span4{
    width: 280px;
    margin-left: 40px;
}

.page-header{
    position: relative;

    .corner{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
}

.sub-header{
    position: relative;

    h4{
        margin: 25px 0 20px 0;
    }

    .corner{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
}

.sidebar-header h4{
    &:not(:first-child){
        margin: 20px 0 15px 0;
    }
}

.divider{
    display: inline-block;
    width: 5px;
}

.res-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    position: relative;

    .res-header{
        margin-bottom: 5px;

        .res-favicon{
            vertical-align: -2px;
            width: 16px;
            height: 16px;
            margin-right: 2px;          
        }

        .res-title{
            color: #0360AF;
            font-size: 16px;
            line-height: 16px;
        }

        .res-url{
            color: #555;
            text-decoration: none;

            &:hover{
                color: #000;
            }

            .icon-external-link{
                margin-left: 3px;
                cursor: pointer;
            }            
        }
    }

    .res-desc{
        margin-right: 80px;
        margin-bottom: 3px;
    }

    .res-meta{
        font-size: 13px;
        color: #999;

        a{
            font-size: 13px;
            color: #999;
        }

        .meta-item{
            margin-right: 10px;
        }

        .res-node{
            margin-right: 3px;
        }
        .res-type{
            margin-left: 3px;
        }

        .res-thank,
        .res-share{
            visibility: hidden;
        }
    }

    &:hover{
        .res-thank,
        .res-share{
            visibility: visible;            
        }
    }

    .btn-group{
        position: absolute;
        right: 0;
        top: 0;
        padding-left: 5px;
        padding-right: 5px;
        padding: 0;
    }
}

#page-nodes{
    .page-header{
        border-bottom: 0;
        margin: 0;
    }

    .node-list{
        font-size: 0px;
    }

    .node-item{
        margin: 0 0 5px 0;
        padding: 20px 4% 15px 1%;
        border-top: 1px solid #eee;
        width: 45%;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;

        .media{
            margin-top: 0;
        }

        h4{
            font-weight: normal;
            margin-bottom: 8px;
        }

        .node-image{
            width: 50px;
            height: 50px;
            margin-right: 2px;
        }

        .node-desc{
            margin-bottom: 10px;
        }
    }
}

#page-all-nodes{
    #all-nodes{
        .node-type-item{
            margin-bottom: 20px;

            .node-type{
                font-size: 20px;
                margin-bottom: 15px;
                width: 130px;
                float: left;
            }

            ul{
                width: 830px;
                margin: 0;
                float: left;
                list-style-type: none;
                font-size: 0px;

                li{
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 15px 10px 10px;
                    margin: 0 15px 15px 0;
                    box-sizing: border-box;
                    width: 260px;
                    font-size: 14px;
                    position: relative;
                    border: 1px solid #eaeaea;

                    .media-body{
                        margin-top: 2px;

                        .node-desc{
                            margin-bottom: 0;
                            font-size: 13px;
                        }
                    }

                    img{
                        width: 45px;
                        height: 45px;
                    }

                    .btn-group{
                        position: absolute;
                        display: inline-block;
                        font-size: 0;
                        white-space: nowrap;
                        vertical-align: middle;
                        top: -1px;
                        right: -1px;

                        .btn{
                            padding: 0 4px;
                            border-radius: 0;
                            border-bottom-left-radius: 4px;
                        }
                    }
                }  
            }
        }
    }
}

#page-node{
    .node-desc{
        font-size: 18px;
        margin-bottom: 5px;
    }

    .node-image{
        height: 60px;
    }

    .display-mode{
        margin-bottom: 22px;
    }

    .rt-item{
        position: relative;

        .rt-type{
            font-size: 12px;
            line-height: 12px;
            margin: 0 15px 0 0;
            font-family: Telex, '宋体';
            position: absolute;
            top: 0;
            right: 620px;
            display: block;
            text-align: right;
            white-space: nowrap;
            margin-right: 15px;
            padding: 5px;
            background-color: #da532c;
            color: white;
        }
    }   

}

#page-nav{
    #google-doodle-wap{
        text-align: center;

        #google-doodle{
            width: 350px;
            margin: 30px 0 20px 0;
        }        
    }

    #form-search{
        margin-bottom: 50px;
        text-align: center;

        input{
            border-radius: 0;
        }

        input[type='submit']{
            font-family: 'Telex';
        }
    }

    .nav-node-list{
        margin-left: 60px;

        .n-item{
            margin-bottom: 10px;

            .n-title{
                // font-size: 16px;
                float: left;
                box-sizing: border-box;
                width: 120px;
                border-top: 1px solid #D6DDDD;
                padding-top: 15px;
                padding-left: 15px;

                a{
                    color: #555;
                }
            }

            ul{
                float: left;
                box-sizing: border-box;
                width: 700px;
                padding-top: 10px;
                padding-left: 15px;
                border-top: 1px solid #F5F5F5;
                list-style-type: none;
                margin: 0;

                li{
                    float: left;
                    width: 160px;
                    box-sizing: border-box;
                    padding: 3px 5px;

                    a{
                        color: #0360AF;
                    }

                    .r-favicon{
                        max-width: 16px;
                        vertical-align: text-top;
                        margin-right: 1px;
                    }
                }                
            }
        }
    }
}