html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 6em 0;

    .navbar{
        #user-avatar{
            width: 20px;
            margin-right: 8px;
            border-radius: 2px;
        }
    }

    #main-wap{
        padding-top: 10px;
    }

    #footer{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.2em;
        z-index: 10;
        text-align: center;
        font-size: 12px;
        font-family: '微软雅黑';
        width: 100%;
        color: #666;

        .container{
            #copyright{
                float: left;
            }

            #links{
                float: right;
                margin: 0;
                list-style-type: none;

                li{
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}

.span4{
    width: 280px;
    margin-left: 40px;
}

.page-header{
    position: relative;

    .corner{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
}

.sub-header{
    position: relative;

    h4{
        margin: 25px 0 20px 0;
    }

    .corner{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
}

.sidebar-header h4{
    &:not(:first-child){
        margin: 20px 0 15px 0;
    }
}

.divider{
    display: inline-block;
    width: 5px;
}

.res-item{
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    position: relative;

    .res-header{
        margin-bottom: 8px;

        .res-type{
            margin-right: 5px;
            vertical-align: 2px;
        }

        .res-title{
            font-size: 17.5px;
            line-height: 17.5px;
        }

        .res-url{
            color: #555;
            text-decoration: none;

            &:hover{
                color: #000;
            }

            .icon-external-link{
                margin-left: 3px;
                cursor: pointer;
            }            
        }
    }

    .res-content{
        margin-right: 80px;
        margin-bottom: 6px;
    }

    .res-extra-info{
        color: #aaa;
        a{
            color: #aaa;
        }
    }

    .btn-group{
        position: absolute;
        right: 0px;
        top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        padding: 0;
    }
}

.node-list{
    font-size: 0px;
}

.node-item{
    margin: 0 0 5px 0;
    padding: 20px 4% 15px 1%;
    border-top: 1px solid #eee;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;

    .media{
        margin-top: 0;
    }

    h4{
        font-weight: normal;
        margin-bottom: 8px;
    }

    .node-image{
        width: 50px;
        height: 50px;
        margin-right: 2px;
    }

    .node-desc{
        margin-bottom: 10px;
    }
}

#page-nodes{
    .page-header{
        border-bottom: 0;
        margin: 0;
    }
}

#page-node{
    .node-image{
        max-height: 60px;
    }

    #what-is-re{
        cursor: pointer;
    }
}

#page-resource{
    #what-is-ex{
        cursor: pointer;
    }
}

#page-nav{
    #form-search{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;

        input{
            border-radius: 0;
        }

        input[type='submit']{
            font-style: italic;
        }
    }

    .nav-node-list{
        margin-left: 60px;
        .n-item{
            margin-bottom: 10px;

            .n-title{
                // font-size: 16px;
                float: left;
                box-sizing: border-box;
                width: 120px;
                border-top: 1px solid #D6DDDD;
                padding-top: 15px;
                padding-left: 15px;

                a{
                    color: #555;
                }
            }

            ul{
                float: left;
                box-sizing: border-box;
                width: 700px;
                padding-top: 15px;
                padding-left: 15px;
                border-top: 1px solid #F5F5F5;
                list-style-type: none;
                margin: 0;

                li{
                    display: inline-block;
                    margin-bottom: 7px;
                    width: 150px;
                    overflow: hidden;

                    a{
                        color: #0360AF;
                        .r-favicon{
                            max-width: 16px;
                            vertical-align: text-top;
                            margin-right: 1px;
                        }
                    }
                }                
            }
        }
    }
}