{% extends 'base.html' %}

{% block page_id %}page-init-nodes{% endblock %}
{% block page_title %}All Nodes{% endblock %}
{% block body %}

<script type="text/javascript">
$(function(){
   $('.btn-follow, .btn-disfollow').click(function(){
      var n_id = $(this).data('node-id');
      
      if($(this).hasClass('btn-follow')){
         var url = "{% url 'follow_node' %}";
      } else {
         var url = "{% url 'disfollow_node' %}";
      }

      var btn_follow = $(this);

      $.ajax({
         url: url,
         method: 'POST',
         data: { 'n_id': n_id },
         success: function(result){
            if(result === 'success'){
               if($(btn_follow).hasClass('btn-follow')){
                  $(btn_follow).parent().addClass('on');
               } else {
                  $(btn_follow).parent().removeClass('on');
               }               
            }
            else if(result === 'unlogin'){
               window.location = "{% url 'index' %}";
            }
         }
      });
   });

});
</script>

<div class="row">
   <div class="page-header">
      <h3>全部节点</h3>
   </div>

   {% include "nodes.tpl" with node_types=node_types %}

   <a href="{% url 'resources' %}" class='btn btn-inverse pull-right'><i class='icon-ok'></i> 完成</a>
</div>

{% endblock %}