{% extends 'base.html' %}

{% block page_id %}page-nav{% endblock %}
{% block page_title %}Navigation{% endblock %}
{% block body %}

{% load staticfiles %}

<style type="text/css">
/* node sortable style */
.n-item.ui-sortable-helper{
   background-color: white;
   padding-bottom: 10px;
   border-bottom: 1px solid #eee;
}
.node-placeholder{
   background-color: #F0F8FF;
   padding-bottom: 10px;
}
/* res sortable style */
.r-item.ui-sortable-helper{
   background-color: white;
   border: 1px dashed #ccc;
}
.res-placeholder{
   background-color: #F0F8FF;
}
</style>

<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript">
$(function(){
   // $(".nav-node-list").sortable({
   //    placeholder: "node-placeholder",
   //    forcePlaceholderSize: true,
   //    scroll: false
   // });
   // $(".nav-node-list").disableSelection();

//    $(".res-list").sortable({
//       placeholder: "res-placeholder",
//       forcePlaceholderSize: true
//    });
//    $(".res-list").disableSelection();
});
</script>

<div id='google-doodle-wap'>
   <a href="http://www.google.com/doodles/childrens-day-2013" target='_blank'><img title="Childrens Day" id='google-doodle' src="http://lh4.ggpht.com/cfUXf9q9tWU3szuxwywHkHWqXVhN_fh3TUziLYiVhTb4I9DqEzkM9sYEF2y31_QYrgfPaNddJPraEnZHO-GDimgW6WZxvD0sLbIkZQX2"></a>
</div>

<form id='form-search' action='https://www.google.com.hk/search' target="_blank">
   <div class="input-append">
      <input type='text' name='q' class='input-xxlarge'>
      <button type='submit' class='btn'><i class='icon-search'></i></button>
   </div>
</form>

<div class='nav-node-list'>
   {% for n in nodes %}
   <div class='n-item clearfix' data-order='{{ n.node.order }}'>
      <div class='n-title'>
         <a href="{% url 'node' n.node.id %}">{{ n.node.title }}</a>
      </div>

      <ul class='res-list'>
         {% for r in n.resources %}
         <li class='r-item' data-order='{{ r.order }}'>
            <img class='r-favicon' src="http://g.etfv.co/{{ r.resource.url }}">
            <a href='{{ r.resource.url }}' title='{{ r.resource.type.type }} / {{ r.resource.title }}' target='_blank'>{{ r.resource.title|truncatechars:12 }}</a>
         </li>
         {% endfor %}
      </ul>

      <a class='btn btn-mini btn-add-resource' data-node-id="{{ n.node.id }}" data-node="{{ n.node.title }}"><i class='icon-plus'></i></a>
   </div>
   {% endfor %}
</div>

<div id="modal-add-resource" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">添加资源</h3>
   </div>

   <form>
      <div class="modal-body">
         <input type='text' name='url' placeholder='url' autocomplete='off' />
         <input type='text' name='title' placeholder='title' autocomplete='off' />
         <input type='text' name='desc' placeholder='descrition' autocomplete='off' />

         <div>
            <span class='uneditable-input-node'></span>
            <input type='hidden' name='node' />
            <span class='select-divider'>/</span>

            <span class='select-type-wap'>
               <select name='type'></select>
               <a class='btn-show-add'><i class='icon-plus'></i> 添加分类</a>
            </span>

            <span class='add-type-wap'>
               <input class='input-new-type' type='text' placeholder='输入分类名称' />
               <a class='btn-submit-type'>添加</a>
               <a class='btn-cancel-add'>取消</a>
            </span>
         </div>
      </div>

      <div class="modal-footer">
         <a class="btn btn-primary btn-submit-resource">添加</a>
      </div>
   </form>
</div>

<script type="text/javascript">

// validate resource url
function validate_url(){
   if($("input[name='url']").val() === ''){
      $("input[name='url']").popover({
         content: 'url不能为空',
         trigger: 'manual'
      }).popover('show');

      return false;
   } else {
      $("input[name='url']").popover('destroy');
      return true;
   }
}

// validata resource title
function validate_title(){
   if($("input[name='title']").val() === ''){
      $("input[name='title']").popover({
         content: 'title不能为空',
         trigger: 'manual'
      }).popover('show');

      return false;
   } else {
      $("input[name='title']").popover('destroy');
      return true;
   }
}

// show add type input
function show_add_type(){
   $('.select-type-wap').hide();
   $('.add-type-wap').show();
   $("input.input-new-type").val('').focus();
}

// hide add type input
function hide_add_type(){
   $('.select-type-wap').show();
   $('.add-type-wap').hide();
   $("input.input-new-type").val('');
}

$(function(){
   var nodes = [];
   var res_list = null;

   // get resource types of followed nodes
   $.ajax({
      url: "{% url 'get_resource_types_by_followed_nodes'%}",
      type: 'POST',
      dataType: 'json',
      success: function(result){
         nodes = result;
      }
   });

   // pop up modal
   $('.btn-add-resource').click(function(){
      var node_id = $(this).data('node-id');
      var node = $(this).data('node');

      res_list = $(this).parent().find('.res-list').first();

      $("input[name='node']").val(node_id);
      $('span.uneditable-input-node').text(node);

      $.each(nodes, function(index, node){
         if(node.id == node_id){
            var select_types = $("#modal-add-resource select[name='type']");
            $(select_types).empty();
            $.each(node.types, function(index, type){
               $(select_types).append("<option value=" + type.id + ">" + type.type + "</option>");
            });
         }
      });

      $('#modal-add-resource').modal();
      $("#modal-add-resource input[name='url']").focus();
   });

   // when modal hidden, back it to init state
   $('#modal-add-resource').on('hidden', function(e){
      if(e.target.id === 'modal-add-resource'){
         $('#modal-add-resource input').val('');
         $('.popover').hide();
         hide_add_type();
      }
   });

   // add resource
   $('.btn-submit-resource').click(function(){
      var url = $.trim($("input[name='url']").val());
      var title = $.trim($("input[name='title']").val());
      var desc = $.trim($("input[name='desc']").val());
      var node = $("input[name='node']").val();
      var type = $("select[name='type']").val();

      $('.popover').hide();

      // validate
      if(!validate_url() || !validate_title()){
         return false;
      }

      $.ajax({
         url: "{% url 'add_resource' %}",
         type: 'POST',
         dataType: 'json',
         data: {
            'url': url,
            'title': title,
            'desc': desc,
            'node': node,
            'type': type
         },
         success: function(data){
            if(data.result == 'success'){
               $('#modal-add-resource').modal('hide');

               $("<li class='r-item'>"
                  + "<img class='r-favicon' src='http://g.etfv.co/" + url + "'> "
                  + "<a href='" + url + "' title='" + type + " / " + title + "' target='_blank'>" + title + "</a>"
                  + "</li>").appendTo(res_list);
            }
            else if(data.result === 'exist'){
               $('#modal-add-resource').modal('hide');

               $("<li class='r-item'>"
                  + "<img class='r-favicon' src='http://g.etfv.co/" + url + "'> "
                  + "<a href='" + url + "' title='" + data.type + " / " + data.title + "' target='_blank'>" + data.title + "</a>"
                  + "</li>").appendTo(res_list);
            }
            else if(data.result === 'followed'){
               $("input[name='url']").popover('destroy').popover({
                  content: '链接已存在',
                  trigger: 'manual'
               }).popover('show');
            }
         }
      });
   });

   $('.btn-show-add').click(function(){
      show_add_type();
   });

   // add resource type
   $('.btn-submit-type').click(function(){
      var n_id = $("input[name='node']").val();
      var type = $.trim($("input.input-new-type").val());

      if(type === ''){
         hide_add_type();
         return;
      }

      // if exist, select it
      $("select[name='type'] option").each(function(index, option){
         if(type === $(option).text()){
            $(option).attr('selected', 'selected');
            hide_add_type();
            return;
         }
      });

      $.ajax({
         url: "{% url 'add_resource_type' %}",
         type: 'POST',
         dataType: 'json',
         data: {
            'n_id': n_id,
            'type': type
         },
         success: function(res){
            if(res.result === 'success'){
               var type_id = res['type_id'];
               hide_add_type();
               $("select[name='type']").prepend("<option value=" + type_id + ">" + type + "</option>").val(type_id);
            }
         }
      });
   });

   $('.btn-cancel-add').click(function(){
      hide_add_type();
   });
})
</script>

{% endblock %}