{% extends 'base.html' %}

{% block page_id %}page-new-user{% endblock %}
{% block page_title %}新用户{% endblock %}
{% block body %}


<form class="form-horizontal" method='post' action="{% url 'new_user' %}">
   {% load widget_tweaks %}
   {% csrf_token %}
   
   <legend>欢迎 {{ form.name.value }}</legend>

   <div class="control-group">
      <label class="control-label">用户名</label>
      <div class="controls">
         <span class="input-xlarge uneditable-input">{{ form.name.value }}</span>
         {{ form.name|attr:'type:hidden' }}
         {{ form.name.errors }}
      </div>
   </div>

   <div class="control-group">
      <label class="control-label">头像</label>
      <div class="controls">
         {{ form.avatar_url|attr:'type:hidden' }}
         <img src="{{ form.avatar_url.value }}" />
         {{ form.avatar_url.errors }}
      </div>
   </div>

   <div class="control-group">
      <label class="control-label" for="id_email">Email</label>
      <div class="controls">
         {{ form.email|attr:'class:input-xlarge' }}
         {{ form.email.errors }}
      </div>
   </div>

   <div class="control-group">
      <div class="controls">
         <button type="submit" class="btn btn-inverse"><i class='icon-arrow-right'></i> 下一步</button>
      </div>
   </div>
</form>

{% endblock %}