{% extends 'base.html' %}

{% block page_id %}page-my-nodes{% endblock %}
{% block page_title %}Nodes{% endblock %}
{% block body %}

{% load is_collected from resource_tags %}

<script type="text/javascript">
$(function(){
   // collect resource by Ajax
   $('.btn-collect').click(function(){
      var r_id = $(this).data('resource-id');
      var url = "{% url 'collect_resource' %}";
      var btn_collect = $(this);

      ajax_collect_resource(url, r_id, function(){
         $(btn_collect).parent().addClass('on');
      });
   });

   // discollect resource by Ajax
   $('.btn-discollect').click(function(){
      var r_id = $(this).data('resource-id');
      var url = "{% url 'discollect_resource' %}";
      var btn_discollect = $(this);

      ajax_collect_resource(url, r_id, function(){
         $(btn_discollect).parent().removeClass('on');
      });
   });

   // disfollow node by Ajax
   $('.btn-disfollow').click(function(){
      var n_id = $(this).data('node-id');
      var url = "{% url 'disfollow_node' %}";
      var btn_disfollow = $(this);

      ajax_follow_node(url, n_id, function(){
         $(btn_disfollow).parents('.node-item').hide('fast', function(){
            $(this).detach()
         });
      });
   });
});
</script>

<div class="row">
   <div class="span8">
      <div class="page-header">
         <h3>节点动态</h3>
      </div>

      <div class='node-list'>
         {% for nf in node_follows %}
         <div class='node-item media'>
            <a href="{% url 'node' nf.node.id %}" class='pull-left'>
               <img class='node-image media-object' src="{{ nf.node.image_url }}">
            </a>

            <div class='media-body'>
               <h4 class='media-heading'><a href="{% url 'node' nf.node.id %}" >{{ nf.node.title }}</a></h4>
               {% for r in nf.resources %}
               <div class='r-item'>
                  <a href='{{ r.url }}' class='r-title' target='_blank'>{{ r.title }}</a
                  ><small>
                     <span class='r-desc'>{{ r.desc }}</span>
                     <span class='r-time'>36分钟前</span>

                     <div class='collect-wap {% if r|is_collected:request.session.user_id %}on{% endif %}'>
                        <a class="btn-discollect" data-resource-id='{{ r.id }}' title='取消导航'><i class='icon-bookmark'></i></a>
                        <a class="btn-collect" data-resource-id='{{ r.id }}' title='添加到导航'><i class='icon-bookmark-empty'></i></a>
                     </div>
                  </small>
               </div>
               {% endfor %}

               <a class='btn-disfollow' data-node-id={{ nf.node.id }}>取消关注</a>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>

   <div class="span4">
      <a href="{% url 'all_nodes' %}" class="btn btn-primary">全部节点</a>

      <div class="sidebar-header">
         <h4></h4>
      </div>
   </div>
</div>

{% endblock %}