{% extends 'base.html' %}

{% block page_id %}page-node{% endblock %}
{% block page_title %}{{ node.Title }}{% endblock %}
{% block body %}

<script type="text/javascript">
$(function(){
   $('#what-is-re').popover({
      trigger: 'hover',
      title: '什么是资源？',
      content: '资源是与某一节点相关的、有用的资料，可以是<b>网站</b>、<b>图书</b>、<b>文章</b>等。',
      html: true
   });
});
</script>

<div class="row">
   <div class="span8">
      <div class="page-header">
         <h2>{{ node.title }}</h2>
         <div class='node-desc'>{{ node.desc }}</div>
         <img class='node-image corner' src="{{ node.image_url }}">
      </div>

      <div class='btn-group display-mode' data-toggle="buttons-radio">
         <a class='btn btn-small active' href="#">时间</a>
         <a class='btn btn-small' href="#">人气</a>
         <a class='btn btn-small' href="#">类别</a>
      </div>

      {% for rt in resource_types %}
      <div class='rt-item'>
         <div class='rt-type'>{{ rt.type }}</div>

         {% for r in rt.resources %}
         <div class='res-item'>
            <div class="res-header">
               <img class='res-favicon' src="http://g.etfv.co/{{ r.url }}">
               <a href="{% url 'resource' r.id %}" class='res-title'>{{ r.title }}</a>
               <a class='res-url' target="_blank" href='{{ r.url }}'><i class='icon-external-link'></i></a>
            </div>

            <div class="res-desc">{{ r.desc }}</div>

            <div class='btn-group'>
               {% if r.is_collected %}
               <a class="btn btn-mini btn-primary" href="{% url 'discollect_resource' r.id %}">收藏</a>
               {% else %}
               <a class="btn btn-mini" href="{% url 'collect_resource' r.id %}">收藏</a>
               {% endif %}
               <a class='btn btn-mini'>{{ r.collect_count }}</a>
<!--                {% if r.is_collected %}
               <a class="btn btn-mini btn-primary" href="{% url 'discollect_resource' r.id %}"><i class='icon-heart'></i></a>
               {% else %}
               <a class="btn btn-mini" href="{% url 'collect_resource' r.id %}"><i class='icon-heart-empty'></i></a>
               {% endif %}
               <a class='btn btn-mini'>{{ r.collect_count }}</a> -->
            </div>
         </div>
         {% endfor %}
      </div>
      {% endfor %}
      
      <!-- {% for r in resources %}
      <div class='res-item'>
         <div class="res-header">
            <img class='res-favicon' src="http://g.etfv.co/{{ r.url }}">
            <a href="{% url 'resource' r.id %}" class='res-title'>{{ r.title }}</a>
            <a class='res-url' target="_blank" href='{{ r.url }}'><i class='icon-external-link'></i></a>
         </div>

         <div class="res-content">{{ r.desc }}</div>

         <div class='res-extra-info'>
            <i class='icon-user'></i> <a href='{% url 'user' r.creator.name %}'>{{ r.creator.name }}</a>
            <span class='divider'></span>
            {{ r.type }}
            <span class='divider'></span>
            <span class='res-time'>{{ r.create_time }}</span>
         </div>

         <div class='btn-group'>
            {% if r.is_collected %}
            <a class="btn btn-mini btn-primary" href="{% url 'discollect_resource' r.id %}">已收藏</a>
            {% else %}
            <a class="btn btn-mini" href="{% url 'collect_resource' r.id %}">收藏</a>
            {% endif %}
            <a class='btn btn-mini'>{{ r.collect_count }}</a>
         </div>
      </div>
      {% endfor %} -->
   </div>

   <div class="span4">
      <div class="btn-toolbar">
         <div class='btn-group'>
<!--             {% if is_followed %}
            <a class="btn btn-primary" href="{% url 'disfollow_node' node.id %}"><i class='icon-heart icon-white'></i> 已关注</a>
            {% else %}
            <a class="btn" href="{% url 'follow_node' node.id %}"><i class='icon-heart icon-white'></i> 关注</a>
            {% endif %}            
            <a class='btn'>{{ follow_count }}</a> -->
            {% if is_followed %}
            <a class="btn btn-primary" href="{% url 'disfollow_node' node.id %}"><i class='icon-ok'></i> 已关注</a>
            {% else %}
            <a class="btn" href="{% url 'follow_node' node.id %}"><i class='icon-ok'></i>  关注</a>
            {% endif %}            
            <a class='btn'>{{ follow_count }}</a>
         </div>

         <a class="btn btn-primary" href="#"><i class='icon-plus'></i> 添加资源</a>
      </div>
      
      <div class="sidebar-header">
         <h4></h4>
      </div>
   </div>
</div>

{% endblock %}