{% extends 'base.html' %}

{% block page_id %}page-node{% endblock %}
{% block page_title %}{{ node.Title }}{% endblock %}
{% block body %}

<script type="text/javascript">
$(function(){
   $('#what-is-re').popover({
      trigger: 'hover',
      title: '什么是资源？',
      content: '资源是与某一节点相关的、有用的资料，可以是<b>网站</b>、<b>图书</b>、<b>文章</b>等。',
      html: true
   });
});
</script>

<div class="row">
   <div class="span8">
      <div class="page-header">
         <h2>{{ node.title }}</h2>
         <div>{{ node.desc }}</div>
         <img class='node-image corner' src="{{ node.image_url }}">
      </div>
      
      <div class='sub-header'>
         <h4>{{ resources|length }} 个资源 <small id='what-is-re'>什么是资源？</small></h4>
         <div class="btn-toolbar corner">
            <div class='btn-group' data-toggle="buttons-radio">
               <a class='btn btn-mini active' href="#">最新</a>
               <a class='btn btn-mini' href="#">最热</a>
            </div>
            <a class="btn btn-primary btn-mini" href="#"><i class='icon-plus'></i> 添加资源</a>
         </div>
      </div>

      {% for r in resources %}
      <div class='res-item'>
         <div class="res-header">
            <a href="#"><span class="label label-warning res-type">{{ r.type }}</span></a>
            <a href="{% url 'resource' r.id %}" class='res-title'>{{ r.title }}</a>
            <a class='res-url' target="_blank" href='{{ r.url }}'><i class='icon-external-link'></i></a>
         </div>

         <div class="res-content">{{ r.desc }}</div>

         <div class='res-extra-info'>
            By <a href='{% url 'user' r.creator.name %}'>{{ r.creator.name }}</a>
            <span class='divider'></span>
            <span class='res-time'>{{ r.create_time }}</span>
         </div>

         <div class='btn-group'>
            <a class="btn btn-mini" href="#">收藏</a>
            <a class='btn btn-mini'>2</a>
         </div>
      </div>
      {% endfor %}
   </div>

   <div class="span4">
      <div class="btn-toolbar">
         <div class='btn-group'>
            <a class="btn" href="#"><i class='icon-heart icon-white'></i> 关注</a>
            <a class='btn'>4</a>
         </div>
      </div>
      
      <div class="sidebar-header">
         <h4></h4>
      </div>
   </div>
</div>

{% endblock %}