{% extends 'base.html' %}

{% block page_id %}page-resources{% endblock %}
{% block page_title %}Resources{% endblock %}
{% block body %}

<script type="text/javascript">
$(function(){
   $('.btn-collect, .btn-discollect').click(function(){
      var r_id = $(this).data('resource-id');
      
      if($(this).hasClass('btn-collect')){
         var url = "{% url 'collect_resource' %}";
      } else {
         var url = "{% url 'discollect_resource' %}";
      }

      var btn_collect = $(this);

      $.ajax({
         url: url,
         method: 'POST',
         data: { 'r_id': r_id },
         success: function(result){
            if(result === 'success'){
               var collect_count = $(btn_collect).nextAll('.collect-count');

               if($(btn_collect).hasClass('btn-collect')){
                  $(btn_collect).parent().addClass('on');
                  collect_count.text(parseInt(collect_count.text()) + 1);
               } else {
                  $(btn_collect).parent().removeClass('on');
                  collect_count.text(parseInt(collect_count.text()) - 1);
               }
            }
            else if(result === 'unlogin'){
               window.location = "{% url 'index' %}";
            }
         }
      });
   });

});
</script>

<div class="row">
   <div class="span8">
      <div class="page-header">
         <h3>资源 <small>新鲜不断出炉</small></h3>
      </div>

      {% include 'resources.tpl' with resources=resources %}
   </div>

   <div class="span4">
      <div class="sidebar-header">
         <h4>近期热门</h4>
      </div>
   </div>
</div>

{% endblock %}