{% extends 'base.html' %}

{% block page_id %}page-resource{% endblock %}
{% block page_title %}{{ resource.title }}{% endblock %}
{% block body %}

<script type="text/javascript">
$(function(){
   $('#what-is-ex').popover({
      trigger: 'hover',
      title: '什么是经验？',
      content: '经验是指你使用这项资源后的感受，可以是<b>评论</b>、<b>读后感</b>、<b>技术总结</b>等。',
      html: true
   });
});
</script>

<div class="row">
   <div class="span8">
      <div class="page-header">
         <h2>{{ resource.title }} <sup><span class='label label-warning'>{{ resource.type }}</span></sup></h2>

         <p>{{ resource.desc }}</p>
         
         <div>
            By <a href="{% url 'user' resource.creator.name %}">{{ resource.creator.name }}</a>
            <span class='divider'></span>
            节点：<a href="{% url 'node' resource.node.id %}">{{ resource.node.title }}</a>
            <span class='divider'></span>
            地址：<a href="{{ resource.url }}" target="_blank">{{ resource.url }}</a>
            <span class='divider'></span>
         </div>
      </div>

      <div class='sub-header'>
         <h4>经验 / 3 <small id='what-is-ex'>什么是经验？</small></h4>
         <div class="btn-toolbar corner">
            <div class='btn-group' data-toggle="buttons-radio">
               <a class='btn btn-small active' href="#">最新</a>
               <a class='btn btn-small' href="#">最热</a>
            </div>
         </div>
      </div>      
   </div>

   <div class="span4">
      <div class='btn-toolbar'>         
         <div class='btn-group'>
            {% if is_collected %}
            <a class='btn btn-primary' href="{% url 'discollect_resource' resource.id %}"><i class='icon-heart icon-white'></i> 已收藏</a>
            {% else %}
            <a class='btn' href="{% url 'collect_resource' resource.id %}"><i class='icon-heart-empty icon-white'></i> 收藏</a>
            {% endif %}
            <a class='btn'>{{ collect_count }}</a>
         </div>

         <a class="btn btn-primary" href="#"><i class='icon-plus icon-white'></i> 分享经验</a>
      </div>

      <div class="sidebar-header">
         <h4></h4>
      </div>
   </div>
</div>

{% endblock %}