{% extends 'base.html' %}

{% block page_id %}page-resources{% endblock %}
{% block page_title %}Resources{% endblock %}
{% block body %}

<div class="row">
   <div class="span8">
      <div class="page-header">
         <h3>资源</h3>
      </div>

      {% include 'resources.tpl' with resources=resources %}

      <div class="pagination">
         <ul>
            {% if resources.has_previous %}
            <li><a href="?page={{ resources.previous_page_number }}"><i class='icon-angle-left'></i></a></li>
            {% endif %}

            <li><a>{{ resources.number }} / {{ resources.paginator.num_pages }}</a></li>

            {% if resources.has_next %}
            <li><a href="?page={{ resources.next_page_number }}"><i class='icon-angle-right'></i></a></li>
            {% endif %}
         </ul>
      </div>
   </div>

   <div class="span4">
      <div class="sidebar-header">
         <h4>近期热门</h4>
      </div>
   </div>
</div>

{% endblock %}