{% extends 'base.html' %}

{% block page_id %}page-resources{% endblock %}
{% block page_title %}Resources{% endblock %}
{% block body %}

<script type="text/javascript">
$(function(){
   $('.btn-collect, .btn-discollect').click(function(){
      var r_id = $(this).data('resource-id');
      
      if($(this).hasClass('btn-collect')){
         var url = "{% url 'collect_resource' %}";
      } else {
         var url = "{% url 'discollect_resource' %}";
      }

      var btn_collect = $(this);

      $.ajax({
         url: url,
         method: 'POST',
         data: { 'r_id': r_id },
         success: function(result){
            if(result === 'success'){
               var collect_count = $(btn_collect).nextAll('.collect-count');

               if($(btn_collect).hasClass('btn-collect')){
                  $(btn_collect).parent().addClass('on');
                  collect_count.text(parseInt(collect_count.text()) + 1);
               } else {
                  $(btn_collect).parent().removeClass('on');
                  collect_count.text(parseInt(collect_count.text()) - 1);
               }
            }
            else if(result === 'unlogin'){
               window.location = "{% url 'index' %}";
            }
         }
      });
   });

});
</script>

<div class="row">
   <div class="span8">
      <div class="page-header">
         <h3>资源 <small>新鲜不断出炉</small></h3>
      </div>

      {% for r in resources %}
      <div class='res-item'>
         <div class="res-header">
            <img class='res-favicon' src="http://g.etfv.co/{{ r.url }}">
            <a href="{{ r.url }}" class='res-title' target='_blank'>{{ r.title }}</a>
         </div>

         <div class="res-desc">{{ r.desc }}</div>

         <div class='res-meta'>
            <span class='meta-item'>
               <a class='res-node' href="{% url 'node' r.node.id %}" title='节点：{{ r.node.title }}'>{{ r.node.title }}</a>/<span class='res-type' title='类型：{{ r.type }}'>{{ r.type.type }}</span>
            </span>
            <span class='meta-item'>
               <i class='icon-user'></i> <a href="{% url 'user' r.creator.name %}">{{ r.creator.name }}</a>
            </span>
            <span class='meta-item'>
               <i class='icon-comment-alt'></i> <a href="{% url 'resource' r.id %}">8评论</a>
            </span>
            <span class='meta-item'>36分钟前</span>
            <span class='meta-item res-thank'><i class='icon-heart-empty'></i> <a href='#'>感谢</a></span>
            <span class='meta-item res-thank'><i class='icon-share'></i> <a href='#'>分享</a></span>
         </div>

         <div class='btn-group collect-wap {% if r.is_collected %}on{% endif %}'>
            <a class="btn btn-mini btn-primary btn-discollect" data-resource-id='{{ r.id }}' title='取消导航'><i class='icon-bookmark'></i></a>
            <a class="btn btn-mini btn-collect" data-resource-id='{{ r.id }}' title='添加到导航'><i class='icon-bookmark-empty'></i></a>
            <a class='btn btn-mini collect-count'>{{ r.collect_count }}</a>
         </div>
      </div>
      {% endfor %}
   </div>

   <div class="span4">
      <div class="sidebar-header">
         <h4>近期热门</h4>
      </div>
   </div>
</div>

{% endblock %}