{% load staticfiles %}

<!doctype html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <title>{% block page_title %}YProgrammer{% endblock %}</title>
      <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link type="text/css" rel="stylesheet" href="{% static 'resources/css/page.css' %}">
      <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/yprogrammer.js' %}"></script>
      <link rel="Shortcut Icon" href="{% static 'img/yp.ico' %}" type="image/x-icon">
   </head>

   <body id="{% block page_id %}{% endblock %}">
      <!-- if this tag not exist, the csrf cookie will not be sent -->
      <!-- so ajax without a csrf cookie will fail -->
      <!-- so I add this in every page to force django to send the csrf cookie -->
      <!-- also see - http://stackoverflow.com/questions/5499597/ajax-csrf-problem-in-django-1-3  -->
      {% csrf_token %}
      
      <script type="text/javascript">
      function csrfSafeMethod(method) {
         return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      
      // on each XMLHttpRequest, set a custom X-CSRFToken header to the value of the CSRF token.
      $.ajaxSetup({
         crossDomain: false, // obviates need for sameOrigin test
         beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
               xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            }
         }
      });
      </script>

      <div class="navbar navbar-inverse">
         <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="{% url 'index' %}">YProgrammer</a>

               <ul class="nav">
                  <li class='nav-resource'><a href="{% url 'resources' %}">资源</a></li>
                  <li class='nav-node'><a href="{% url 'all_nodes' %}">节点</a></li>
                  
                  {% if request.session.user %}
                  <li class='nav-user'><a href="{% url 'user' request.session.user %}">导航</a></li>
                  {% endif %}

                  {% if request.session.user %}
                  <!-- <li><a href="#">反馈</a></li> -->
                  {% endif %}
               </ul>

               {% if request.session.user %}
               <ul class="nav pull-right">
                  <li>
                     <a href="{% url 'user' request.session.user %}">
                        <img id='user-avatar' src="{{ request.session.user_avatar }}">{{ request.session.user }}
                     </a>
                  </li>
                  <!-- <li>
                     <a href="#" title='Account settings'><i class='icon-cog'></i></a>
                  </li> -->
                  <li>
                     <a href="{% url 'signout' %}" title='Sign out'><i class='icon-off'></i></a>
                  </li>
               </ul>
               {% else %}
               <!-- <a href="https://github.com/login/oauth/authorize?client_id={{ client_id }}&redirect_uri={{ redirect_url }}" class='btn pull-right' href=""><i class='icon-github'></i> GitHub 登录</a> -->
               {% endif %}
            </div>
         </div>
      </div>

      <div id="main-wap" class="container">
      {% block body %}{% endblock %}
      </div>

      <div id="full-main-wap">
      {% block full-body %}{% endblock %}
      </div>

      <div id="footer">
         <div class='container'>
            <div id='copyright'>YProgrammer ©2013 by <a href="http://hustlzp.com" target="_blank">hustlzp</a></div>
            
            <ul id='links'>
               <!-- <li><a href="#">关于</a></li> -->
               <li><a target="_blank" href="https://github.com/hustlzp/yprogrammer">GitHub</a></li>
            </ul>
         </div>
      </div>
   </body>
</html>