{% load staticfiles %}

<!doctype html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <title>{% block page_title %}YProgrammer{% endblock %}</title>
      <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <link type="text/css" rel="stylesheet" href="{% static 'resources/css/page.css' %}">
      <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/yprogrammer.js' %}"></script>
      <link rel="Shortcut Icon" href="{% static 'img/yp.ico' %}" type="image/x-icon">
   </head>

   <body id="{% block page_id %}{% endblock %}">
      <div class="navbar navbar-inverse">
         <div class="navbar-inner">
            <div class="container">
               <a class="brand" href="{% url 'index' %}">YProgrammer</a>

               <ul class="nav">
                  {% if request.session.user  %}
                  <li><a href="{% url 'user_nav' %}">导航</a></li>
                  {% endif %}

                  <li><a href="{% url 'resources' %}">资源</a></li>
                  <li><a href="{% url 'my_nodes' %}">节点</a></li>

                  {% if request.session.user  %}
                  <li><a href="#">反馈</a></li>
                  {% endif %}
               </ul>

               {% if request.session.user  %}
               <ul class="nav pull-right">
                  <!-- <li><a class='btn-add-resource' href="#"><i class='icon-plus'></i> 添加资源</a></li> -->
                  <li>
                     <a href="{% url 'user' request.session.user %}">
                        <img id='user-avatar' src="{{ request.session.user_avatar }}">{{ request.session.user }}
                     </a>
                  </li>
                  <li>
                     <a href="#" title='Account settings'><i class='icon-cog'></i></a>
                  </li>
                  <li>
                     <a href="{% url 'signout' %}" title='Sign out'><i class='icon-off'></i></a>
                  </li>
               </ul>

               <a class='btn btn-small pull-right btn-add-resource' href="#"><i class='icon-plus'></i> 添加资源</a>
               {% else %}
               <a href="https://github.com/login/oauth/authorize?client_id=7a68fc19935c680f8e2e&redirect_uri=http://localhost:8000/signin/github" class='btn pull-right' href=""><i class='icon-github'></i> GitHub 登录</a>
               {% endif %}
            </div>
         </div>
      </div>

      <div id="main-wap" class="container">
      {% block body %}{% endblock %}
      </div>

      <div id="full-main-wap">
      {% block full-body %}{% endblock %}
      </div>

      <div id="footer">
         <div class='container'>
            <div id='copyright'>YProgrammer ©2013 by <a href="http://hustlzp.com" target="_blank">hustlzp</a></div>
            
            <ul id='links'>
               <!-- <li><a href="#">关于</a></li> -->
               <li><a target="_blank" href="https://github.com/hustlzp/yprogrammer">GitHub</a></li>
            </ul>
         </div>
      </div>

      <script type="text/javascript">
      // on each XMLHttpRequest, set a custom X-CSRFToken header to the value of the CSRF token.
      $(function(){
         function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
         }

         $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
               if (!csrfSafeMethod(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
               }
            }
         });         
      });
      </script>
   </body>
</html>